/* место для вашего кода */

/*header*/

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  margin: 92px 24px 96px 24px;
  width: 1052px;
  height: 105px;
  grid-row: span 2;
  align-items: center;
}

.header__links-list {
  display: flex;
  align-items: center;
  gap: 33px;
  margin-left: 26px;
}

.header__links-list-item {
  text-underline-offset: 4px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.circle {
  list-style-type: circle;
  text-decoration: underline;
}

.header__links-list-item_no-bullet {
  list-style-type: none;
  text-decoration: none; /*тут яка проблима?*/
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.link-active {
  text-decoration: none;
}

.header__logo {
  width: 135px;
}

.header__address {
  display: grid;
  align-self: center;
  justify-items: start;
  justify-content: end;
  padding-right: 63px;
}

.address {
  text-align: left;
  font-style: normal;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.address-not_underline {
  text-decoration: none;
}

/*
.addres {
  align-items: start;
  justify-content: end;
  text-align: left;
  font-style: normal;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
*/
/*/header*/

/* ни тогати, ни знаю як це гивно работэ */

/*cover*/

.cover {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1100px;
  min-height: 757px;
  z-index: 2;
  position: relative;
}

.overplay {
  position: absolute;
  inset: 0px;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  z-index: 10;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
  padding: 165px 0px 0px 52px;
  margin: 0px 50px 0px 0px;
  text-transform: uppercase;
  position: relative;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  line-height: 140px;
}

.aligned-text_right {
  text-align: right;
  line-height: 1;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}
.no-letter-spacing {
  letter-spacing: 0em;
}
/* /ни тогати, ни знаю як це гивно работэ\ */

.cover__description {
  display: flex;
  position: relative;
  z-index: 2;
}

.cover__description-text {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 0.85em;
  text-align: left;
  color: #ffffff;
  display: inline-block;
  padding: 147px 79px 62px 80px;
  text-transform: uppercase;
  white-space: nowrap;
}

.bet-button {
  background-color: transparent;
  color: #ffffff;
  width: 256px;
  height: 51px;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid rgb(255, 255, 255);
  margin: 135px 50px 51px 0px;

  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/*/cover*/

/*lots*/

.lots {
  width: 1052px;
  margin: 179px 24px 0px 24px;
}

.lots__heading {
  padding-left: 40px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.lots__card-list {
  list-style-type: none;
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 28px 0px 30px 0px;
}

.card {
  position: relative;
  z-index: 0;
  width: 334px;
  min-height: 563px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card_type_before::before {
  content: "";
  position: absolute;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.card__title {
  padding: 51px 40px 0px 40px;
  position: relative;
  align-items: center;
  z-index: 2;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-decoration-thickness: 0px;
  text-transform: uppercase;
  color: #ffffff;
  text-underline-offset: 3px;
}

.card__text {
  position: relative;
  
  z-index: 1;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 0px 0px 48px 40px;
  word-wrap: break-word;
  width: 295px;
}

.lots__look-more-link {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  padding: 0px 0px 0px 40px;
  margin-top: 30px;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 0px;
}

/*/lots*/

/*about*/

.about {
  display: grid; 
  grid-template-columns: 1fr 2fr;
  width: 1052px;
  margin: 146px 24px 0px 24px;
}

.about__logo {
  margin: 34px 0px 0px 47px;
  background-color: black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex; /* Для центрирования содержимого внутри круга */
  justify-content: center;
  align-items: center;
}

.about__logo-img {
  width: 148px;
  height: 114px;
}

.about__title {
  margin: 135px 0px 0px 17px;
  color: black;
  text-transform: uppercase;
  grid-column: span 1;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
}

.text_escription {
  padding: 100px 0px 0px 17px;
  grid-column: 2;
  width: 710px;
}

.about__text {
  padding-bottom: 24px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
}

/*/about*/

/*footer*/

.footer {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 156px 50px 88px 50px;
}

.address-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.footer__links-list-item_no-bullet {
  list-style-type: none;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: center;
  padding-left: 10px;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  margin-left: 99px;

  justify-content: space-between;
}

.footer__social-icon {
  display: flex;
  width: 48px;
  height: 48px;
}

/*/footer*/
